<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">Copyright © <span id="year"></span> Historic Baptist Church</span>
      </div>
  
      <p class="text-muted col justify-content-end d-flex">
        (401) 330-9934
        <br>info@historicbaptist.org
        <br>220 West Main Street,
        North Kingstown, RI 02852
      </p>
    </footer>
  </div>

  <script>
    const date = new Date();
    const year = date.getFullYear(); 
    document.getElementById("year").innerHTML = year;
</script>