<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="/images/hbc-logo.png" width="100px;" style="padding-right: 10px;">Historic Baptist Church
      </a>
      <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="#" class="nav-link px-2 link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/about">About</a></li>
            <li><a class="dropdown-item" href="/our-mission">Our Mission</a></li>
            <li><a class="dropdown-item" href="/the-gospel">The Gospel</a></li>
            <li><a class="dropdown-item" href="/10-commandments">The 10 Commandments</a></li>
          </ul>
        </li>
        <li><a href="/staff" class="nav-link px-2 link-dark">Our Staff</a></li>
        <li><a href="/music" class="nav-link px-2 link-dark">Music</a></li>
        <li><a href="/missions" class="nav-link px-2 link-dark">Missions</a></li>
        <li>
          <a href="#" class="nav-link px-2 link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            Scriptures
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="/scripture-publishing">Scripture Publishing</a></li>
            <li><a class="dropdown-item" href="/documents">Pastors Documents</a></li>
            <li><a class="dropdown-item" href="/escriptures">eScriptures & ebooks</a></li>
          </ul>
        </li>
        <li><a target="_blank" href="https://www.facebook.com/historicbaptistchurch/"><i style="font-size: 30px;margin-top: 5px;margin-left: 10px;color:#7d5a1f !important;" class="fab fa-facebook-square"></i></a></li>
      </ul>
    </div>
  </div>
</header>