<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
      <h1>About</h1>
      <h4 class="blue-h4">Historic Baptist Church</h4>
      <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="col-lg-12">
          <p>
            <video style="float: right;padding-left: 15px;" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="500px">
              <source src="/images/flag vid.mp4" type="video/mp4">
            </video>
            Historic Baptist Church (HBC) is a friendly and loving church where all are welcome who want to hear the word of God preached. Our ministry is people. We care about you! In addition to being an independent Bible preaching Baptist church, we also strive to offer an environment of grace and joy. Our pastor believes people ought to attend church because they look forward to the preaching, praise, and the fellowship. We strive for the proper balance of grace and truth. We are a church family that is bound by cords of love and dedication to God. We support the cause of Jesus Christ and the continued ministry of the scriptures to the world by means of various ministries. We encourage soul-winning, visitation, and other evangelistic activities. We know that Jesus would have every effort we make have as its purpose the Glory of Jesus Christ and Redemption.

            <br><br>Our church stands for landmark principles, including the local church, scriptural baptism, and closed communion. We also take the strongest stand possible in regards to the Bible. We believe the King James Version (AV-1611) is the inerrant and inspired word of God. We believe and teach that this is God's word for the English-speaking world, that it will be the standard until the Lord Jesus Christ returns (and probably afterwards), and that it is sufficient to reveal all of God's truth to us.

            <br><br>We believe that the greatest commandment Jesus gave us is to Love God and one another -- this being known as "Love Commandment Doctrine."

            <br><br>We believe the church is the "Pillar and Ground of the Truth," and that all ministries should be under the authority of a New Testament church.

            <br><br>We aim to be what God would want us to be. Our church is located in the "Little Baptist State of Rhode Island" (as described by George Washington). It was in this state that the first Baptist church in America was started, Dr. John Clarke being its first pastor. That church is still active, and many visitors to Rhode Island visit the church house in Newport.

            <br><br>The Rhode Island State Charter was the first ever in all the history of man to make religious liberty a vital element of a State. When King Charles approved the State Charter, for the first time in the history of mankind, there was a place where man could worship God freely according to his conscience. Dr. John Clarke was instrumental in getting this charter approved. Of the thirteen colonies, Rhode Island was the thirteenth. We were last to join because we already had that freedom of religion the colonies offered.

            <br><br>Historic Baptist Church was chartered in 1991, and we still believe every man should have the freedom to worship God according to his own conscience.

            <br><br>We teach the Holy Bible, knowing that every man will give an account of himself to Jesus Christ. Every man will have to give an answer to Jesus Christ as to how he used his liberty of conscience. Located in the historic town of Wickford, Rhode Island, the church and its congregation have ample opportunity to present the surrounding community with the gospel of Jesus Christ. The town of Wickford is a historic fishing village located on the banks of Narragansett bay. Summer is a festive season in Wickford with its art show in early July. Thousands of tourists from throughout the country show up to enjoy this quaint little village and try some fresh sea food and tour the sights of 16th century New England.

            <br><br>Given the beautiful surroundings in this part of the country we are nevertheless burdened by the lost people that appear to be enjoying in vain, a life that is fleeting at best. Time passes by so quickly and soon we will all face the judgment of Almighty God.

            <br><br>Historic Baptist Church, its ministries, and people, pursue one great cause: to "Reach everyone for Christ, without compromise."
          </p>
          </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
