<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px;">
      <div class="row">
        <div class="col-md-12">
            <hr class="hidden-xs hidden-sm">
          <h1 class="subpage-header">ABOUT US</h1>
          <br>
          <div class="col-md-9">
            <p class="about-p">
                Meet the owner...<br> <br> 
                My name is Wendy and my story is a simple one. I love what I do. <br> <br> 
                Art is my passion...Hair is my canvas! What I do has never been work for me, it’s a passion. Passion to make you feel beautiful. <br> <br> 
                This beauty industry is ever changing and we grow from it all the time. From educating for 10 years to now salon ownership... life is good.  Choices have to be made along the way, some simple some difficult, all have helped bring me to today and I’m thankful for each and every one of them. When the time came to create a space that emphasized my love for ART and all the various FORMs of creativity, it was simple… first stop East Greenwich. I was home!<br> <br> 
                The Artform Salon team of stylists that are here have been personally chosen by me based on talent, hard work, passion for what they do and love for making a difference with each other and their guests daily. We truly are blessed. Education is always at our forefront to give you the very best arrangement of options to choose from to allow you to feel your most beautiful while keeping your hair healthy. We offer complimentary consultations so stop in, give us a call or send us an email and see what we’re about and how we can help you feel your most beautiful!<br> <br> 
                I look forward to meeting you,<br>   
  </p>
            <h2 style="font-family: 'Tangerine', cursive;">Wendy Scalzo</h2>
          </div>
          <div class="col-md-3">
            <img src="/images/IMG2611.jpg" alt="artform hair salon salons" style="width: 100%;">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>
