<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
      <h1>Our Mission</h1>
      <h4 class="blue-h4">Historic Baptist Church</h4>
      <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="col-lg-12">
          <p>
            Our church's mission is very simple: "Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost: Teaching them to observe all things whatsoever I (Jesus Christ) have commanded you...." (Matthew 28:19, 20)

            <br><br>One way we work toward fulfilling this "Great Commission" is in the printing and distribution of the word of God to every creature through like-minded missionaries and evangelists around the world. By reaching out with the message of Christ through local and foreign ministries, Historic Baptist Church honours the biblical method of world evangelism, giving the preeminence to Jesus Christ.

            <br><br>We give "glory to God in the church," not in a man or an invention of man. The thousands of independent Baptist churches and missionaries worldwide are each a "headquarters" for the work of the Lord Jesus Christ. We as believers have an "international network" of independent churches -- all with the same goal: to fulfill the Great Commission.

            <br><br>HBC works to supply these churches with whatever we can to make the message of Jesus Christ known to "every creature." We have no intentions of attempting to exercise any authority over these churches. We wholeheartedly honor their independence and autonomy. We simply come as servants to help whomever we are able for the cause of Jesus Christ.

            <br><br>At Historic Baptist Church we desire to welcome every person into an environment of personal and spiritual growth through the worship of God. We want to encourage a caring, friendly, and inviting ministry of people who are committed to knowing God, His will, and the teachings of His Son Jesus Christ. We reach out to all with the same respect and love taught to us by our Lord, and we purpose to represent Christ to the world as a sign of spiritual healing and hope for the future. We believe this is what God requires of us.
          </p>
          </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
