<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
      <h1>Scripture Publishing</h1>
      <h4 class="blue-h4">Historic Baptist Church</h4>
      <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="col-lg-12">
          <p>
            "Go ye therefore"

            <br><br>It's sometimes seems a difficult task to fulfill Christ's commandment of "Go ye therefore" if you are not a missionary in a foreign land. However, you can still get your church involved in the printing, publishing and distribution of God's word. You may not go to India, Africa, China, Brazil, Russia, Asia, etc., but you can still get involved in the printing ministry of God's word and send scriptures to the missionaries your church supports. You may never place your footprints in a distant country, but you can send your fingerprints on a portion of scripture that you printed and assembled. That little portion of scripture could lead untold numbers to salvation in Christ, and you could share a part in their coming to know Christ through your efforts.

            <br><br>Scripture Publishing

            <br><br>A great work.

            <br><br>Psalms 68:11; The Lord gave the word: great was the company of those that published it.

            <br><br>Scripture Publishing. The first, original copy of the Law.

            <br><br>God commands Moses: Exodus 31:18; And he gave unto Moses, when he had made an end of communing with him upon mount Sinai, two tables of testimony, tables of stone, written with the finger of God.

            <br><br>Contact HBC to learn how! If you would like to get your church involved in the process of printing and publishing God's word, we would be enormously blessed to have you contact us. With the leading and guidance of God's Holy Spirit, HBC has developed a program whereby we can supply churches with all the necessary software to get started. Mansion Baptist Press was organized several years ago to print and distribute locally. Over the years God has continued to refine our vision by allowing us to acquire the necessary equipment and gradual understanding to expand this needed work. We would arrange a time to come to your church and present the scripture publishing ministry and we would set up our equipment to show you a simple demonstration of how the process works.

            <br><br>If you would like to get involved in the printing, publishing and distribution of God's word you will need to get this PDF converter file. In order to convert these files you must first download Adobe Acrobat Reader.
          </p>
          </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
