<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px;">
        <div class="row">
            <div class="col-md-12">
                <hr class="hidden-xs hidden-sm">
                <h1 class="subpage-header">WAIT LIST</h1>
                <iframe class="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSfYFExXJHcfSotMD6p23hMGD_MvK7rzHXsY04gF-BoGeeLgpQ/viewform?embedded=true" width="1000" height="1359" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>        </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>