<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>  
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
      <h1>The 10 Commandments</h1>
      <h4 class="blue-h4">Historic Baptist Church</h4>
      <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="col-lg-12">
          <p>
            <video style="float: right;padding-left: 15px;" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="500px">
              <source src="/images/10 commandments.mp4" type="video/mp4">
            </video>
            Have you ever broken any one of the ten commandments of God? If you have ever told a lie, you are a liar. If you ever hated someone, you have committed murder in your heart. If you have ever looked at a woman, or a woman looked at a man, and lusted after them you have committed adultery in your heart. Jesus said that if a man is guilty of breaking even one of these commandments he is guilty of breaking all of them. It does not matter if you call it a story, embellishment, exaggeration, etc., a lie is a lie. It does not matter what the value was of the object that you took, it is still stealing.

            <br><br>Revelation 21:8 But the fearful, and unbelieving, and the abominable, and murderers, and whoremongers, and sorcerers, and idolaters, and all liars, shall have their part in the lake which burneth with fire and brimstone: which is the second death.

            <br><br>Most people have broken every one of God’s ten commandments by an early age. Some may say, I never committed adultery or killed anyone. But Jesus said if you have lusted after another you have committed adultery in your heart. Furthermore, Jesus said if you have hated another person you have committed murder in your heart. If you ever spoken of God without the full reverence God deserves you have taken God’s name in vain. If you have broken just one of God’s law you are a sinner, and the wages of sin is death. You will die. After death comes the judgment of God. Some have eternal life through Jesus Christ. Those without Jesus Christ have eternal damnation. Jesus came to seek and to save us from that damnation. Only through faith in Jesus Christ and trusting his death, burial and resurrection for your salvation, can one be saved and brought back into fellowship with God, escaping the judgment of eternal hell.
            
            <br><br><b class="b-blue">The Ten Commandments of God's Law</b>

            <br><br>Have you broken even one?

            <br><br>1. Thou shalt have no other gods before me. 2. Thou shalt not make unto thee any graven image. 3. Thou shalt not take the name of the Lord thy God in vain. 4. Remember the Sabbath day to keep it holy. 5. Honour thy father and thy mother. 6. Thou shalt not kill. 7. Thou shalt not commit adultery. 8. Thou shalt not steal. 9. Thou shalt not bear false witness. 10. Thou shalt not covet.

            <br><br>A new Commandment given by our Lord!

            <br><br><b class="b-blue">The LOVE Commandment of Christ.</b>

            <br><br>John 13:34, A new commandment I give unto you, that ye love one another; as I have loved you, that ye also love one another.

            <br><br><b class="b-blue">Salvation in Christ</b>

            <br><br>It is only through personal faith in the person of Jesus Christ and his precious shed blood that a person can have God’s forgiveness of sins and receive his gift of eternal salvation. Jesus Christ died for our sins, was buried, and rose again the third day by the power of God – this is the Gospel, the good news. If you believe this with your whole heart you are saved and you have eternal life. You are born again into the family of God. Do you really believe this and are you fully trusting what Jesus did for your salvation?

            <br><br>Romans 3:23; For all have sinned and come short of the glory of God.

            <br><br>Romans 5:8; But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us.

            <br><br>Romans 6:23; For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.

            <br><br>Romans 10:9; That if thou shalt confess with thy mouth the Lord Jesus, and shalt believe in thine heart that God hath raised him from the dead, thou shalt be SAVED.

            <br><br>Romans 10:10; For with the heart man believeth unto righteousness; and with the mouth confession is made unto salvation.

            <br><br>You are commanded to believe on the Lord Jesus Christ (I John 3:23). Obedience to this New Testament commandment will make all the difference as to where you spend eternity. If you have believed on the Lord Jesus Christ, God expects you to confess him as your Saviour. HELL is real, but so is salvation through Jesus Christ. Without Jesus Christ you have already chosen eternal damnation.
          </p>
          </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
