<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px;">
      <div class="row">
        <div class="col-md-12">
          <hr class="hidden-xs hidden-sm">
          <h1 class="subpage-header">CONTACT ARTFORM SALON</h1>
          <br>
          <p style="text-align:center; font-size:22px;"><i class="fas fa-phone"></i> 401.885.3900</p>
          <p style="text-align:center; font-size:22px;"><i class="fas fa-envelope"></i><a href="mailto:artformsalon@gmail.com"> artformsalon@gmail.com</a></p>
          <p style="text-align:center; font-size:22px;">Hours:</p>
          <p style="text-align:center; font-size:18px;line-height: 12px;">Tuesday: 10AM to 7PM</p>
          <p style="text-align:center; font-size:18px;line-height: 12px;">Wednesday: By Appointment Only</p>
          <p style="text-align:center; font-size:18px;line-height: 12px;">Thursday: 10AM to 7PM</p>
          <p style="text-align:center; font-size:18px;line-height: 12px;">Friday: 10AM to 6PM</p>
          <p style="text-align:center; font-size:18px;line-height: 12px;">Saturday: 9AM - 4PM</p>
          <p style="text-align:center; font-size:22px;">Join our mailing list!</p>
          <form action="https://formspree.io/artformsalon@gmail.com" method="POST">
            <div class="form-row">
              <div class="col-md-4">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" name="first-name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="col-md-4">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="text" name="last-name" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="col-md-4">
                <label for="exampleInputPassword1">Email Address</label>
                <input type="email" name="email_address" class="form-control" id="exampleInputPassword1">
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <button type="submit" value="Send" class="btn btn-primary2">Submit</button>
                </div>
            </div>

            <!-- <input type="text" name="first-name">
            <input type="text" name="last-name">
            <input type="email" name="email_address">
            <input type="submit" value="Send"> -->
          </form>
          <iframe class="hidden-sm hidden-xs" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.6681379613274!2d-71.46858578456629!3d41.64130417924169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b7ce524e07c0331!2sArtform+Salon!5e0!3m2!1sen!2sus!4v1534781132448" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          <iframe class="hidden-md hidden-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.6681379613274!2d-71.46858578456629!3d41.64130417924169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b7ce524e07c0331!2sArtform+Salon!5e0!3m2!1sen!2sus!4v1534781132448" width="300" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>
