<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
      <h1>Pastors Documents</h1>
      <h4 class="blue-h4">Historic Baptist Church</h4>
      <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="row align-items-start">
            <div class="col documents">
                <a target="_blank" href="/docs/10 BIBLICAL REASONS FOR MARRIAGE.pdf">10 Biblical Reasons for Marriage</a>
                <br>
                <a target="_blank" href="/docs/10 PRINCIPLES TO RIGHTLY DIVIDE.pdf">10 Principles to Rightly Divide</a>
                <br>
                <a target="_blank" href="/docs/21 THINGS A PERSON GETS WITH SALVATION.pdf">21 Things A Person Gets With Salvation</a>
                <br>
                <a target="_blank" href="/docs/A Panegyric for John Clarke.pdf">A Panegyric for John Clarke</a>
                <br>
                <a target="_blank" href="/docs/Virtuous-Women-Final-Draft.pdf">A Virtuous Women</a>
                <br>
                <a target="_blank" href="/docs/AN OPUSCULUM ON CHURCH ETIQUETTE.pdf">An Opusculum On Church Etiquette</a>
                <br>
                <a target="_blank" href="/docs/APPLICATION FOR PERMISSION TO COURT MY DAUGHTER.pdf">Application For Permission To Court My Daughter</a>
                <br>
                <a target="_blank" href="/docs/BATTLEFIELD SONG.pdf">Battlefield Song</a>
                <br>
                <a target="_blank" href="/docs/BI Orientation.pdf">BI Orientation</a>
                <br>
                <a target="_blank" href="/docs/BI SCHOOL.pdf">BI School</a>
                <br>
                <a target="_blank" href="/docs/BLESSINGS OF THE BRIDE.pdf">Blessings Of The Bride</a>
                <br>
                <a target="_blank" href="/docs/BPS biblical principles.pdf">BPS Biblical Principles</a>
                <br>
                <a target="_blank" href="/docs/CALVINISM.pdf">Calvinism</a>
                <br>
                <a target="_blank" href="/docs/CHART2 highlighted.pdf">Chart 2 highlighted</a>
                <br>
                <a target="_blank" href="/docs/CHURCH DISCIPLESHIP GUIDE.pdf">Church Discipleship Guide</a>
                <br>
                <a target="_blank" href="/docs/CHURCH DISCIPLINE ENG and SPA.pdf">Church Discipline English and Spanish</a>
                <br>
                <a target="_blank" href="/docs/Church Tract.docx">Church Tract</a>
                <br>
                <a target="_blank" href="/docs/COMPARING THE TWO EARTHLY GENEALOGIES OF JESUS CHRIST.pdf">Comparing The Two Earthly Genealogies Of Jesus Christ</a>
                <br>
                <a target="_blank" href="/docs/Constitución de la Iglesia.pdf">Constitución de la Iglesia</a>
                <br>
                <a target="_blank" href="/docs/CONTRASTS AT CALVARY.pdf">Contrasts At Calvary</a>
                <br>
                <a target="_blank" href="/docs/DEHUMANIZATION OF MAN.pdf">Dehumanization Of Man</a>
                <br>
                <a target="_blank" href="/docs/DIFFERENCES BETWEEN THE VARIOUS SETTINGS OF THE KING JAMES  VERSION.pdf">Differences Between The Various Settings Of The King James Verison</a>
                <br>
                <a target="_blank" href="/docs/Dr Law Dr. Grace.pdf">Dr Law Dr. Grace</a>
                <br>
                <a target="_blank" href="/docs/EFFECTIVE PREACHING.pdf">Effective Preaching</a>
                <br>
                <a target="_blank" href="/docs/EIGHT ILL EFFECTS OF PROMOTING THE UNIVERSAL CHURCH FALLACY.pdf">8 Ill Effects Of Promoting the Universal Church Fallacy</a>
                <br>
                <a target="_blank" href="/docs/FROM WHICH TREE DO YOU EAT.pdf">From Which Tree Do You Eat</a>
                <br>
                <a target="_blank" href="/docs/Fullfilment of Prophesies.pdf">Fullfilment of Prophesies</a>
                <br>
                <a target="_blank" href="/docs/HBC CONSTITUTION AND BY-LAWS.pdf">HBC Constitution And By-Laws</a>
                <br>
                <a target="_blank" href="/docs/HBC LEADERSHIP POLICY.pdf">HBC Leadership Policy</a>
                <br>
                <a target="_blank" href="/docs/HBC XII.pdf">HBC XII</a>
                <br>
                <a target="_blank" href="/docs/HBC XIII.pdf">HBC XIII</a>
                <br>
                <a target="_blank" href="/docs/HERESIES.pdf">Heresies</a>
                <br>
                <a target="_blank" href="/docs/Historical Baptist Position on Baptism.pdf">Historical Baptist Position on Baptism</a>
                <br>
                <a target="_blank" href="/docs/HOME SCHOOLING.pdf">54 Unique Benefits Of Homeschooling</a>
                <br>
                <a target="_blank" href="/docs/HOMESCHOOL.pdf">Home School</a>
                <br>
                <a target="_blank" href="/docs/HOW DO YOU KNOW YOU ARE SAVED.pdf">How Do You Know You Are Saved</a>
                <br>
                <a target="_blank" href="/docs/HOW MANY SURVIVE THE END TIMES.PDF">How Many Survive The End Times</a>
                <br>
                <a target="_blank" href="/docs/repent.pdf">If God Commands All Men To Repent</a>
                <br>
                <a target="_blank" href="/docs/JOY IN HEAVEN.pdf">Joy In Heaven</a>
                <br>
                <a target="_blank" href="/docs/JUDGING RIGHTLY.pdf">Juging Rightly</a>
                <br>
                <a target="_blank" href="/docs/KEEPING THE MARRIAGE BED UNDEFILED.pdf">Keeping The Marriage Bed Undefiled</a>
                <br>
                <a target="_blank" href="/docs/KENTUCKY COURT ORDER.pdf">Kentucky Court Order</a>
                <br>
                <a target="_blank" href="/docs/KJV CHART.pdf">KJV Chart</a>
                <br>
                <a target="_blank" href="/docs/LESSONS FROM THE ALABASTER BOX.pdf">Lessons From The Alabaster Box</a>
                <br>
                <a target="_blank" href="/docs/LOS PRINCIPIOS BÍBLICOS DE LPS.pdf">Los Principios Bíblicos De LPS</a>
                <br>
              </div>
              <div class="col documents">
                <a target="_blank" href="/docs/MANUSCRIPTS.pdf">Manuscripts</a>
                <br>
                <a target="_blank" href="/docs/MANUSCRITA MANIPULADA.pdf">Manuscrita Manipulada</a>
                <br>
                <a target="_blank" href="/docs/MESSAGE TO GARCIA.pdf">Message To Garcia</a>
                <br>
                <a target="_blank" href="/docs/NEW TESTAMENT APOCRYPHA.pdf">New Testament Apocrypha</a>
                <br>
                <a target="_blank" href="/docs/NEW TESTAMENT CHURCH DNA.pdf">New Testament Church DNA</a>
                <br>
                <a target="_blank" href="/docs/NIMROD'S FALSE RELIGION.pdf">Nimrod's False Religion</a>
                <br>
                <a target="_blank" href="/docs/NO-HELLERS.pdf">No Hellers</a>
                <br>
                <a target="_blank" href="/docs/Nuevo Testamento.pdf">Nuevo Testamento</a>
                <br>
                <a target="_blank" href="/docs/PRODIGAL PROGRESSION.pdf">Prodigal Progression</a>
                <br>
                <a target="_blank" href="/docs/PROSE RHYTHMS IN THE AUTHORIZED VERSION.pdf">Prose Rhythms In The Authorized Version</a>
                <br>
                <a target="_blank" href="/docs/Sam's Parable.pdf">Sam's Parable</a>
                <br>
                <a target="_blank" href="/docs/SCRIPTURAL BAPTISM.pdf">Scriptural Baptism</a>
                <br>
                <a target="_blank" href="/docs/SCRIPTURE ALONE -- A BAPTIST DISTINCTION.pdf">Scripture Alone - A Baptist Distinction</a>
                <br>
                <a target="_blank" href="/docs/SOME THINGS I BELIEVE AND TEACH.pdf">Some Things I Believe and Teach</a>
                <br>
                <a target="_blank" href="/docs/SP-108 Orientation.pdf">SP-108 Orientation</a>
                <br>
                <a target="_blank" href="/docs/SPANISH DISCIPLESHIP GUIDE.DOC.pdf">Spanish Discipleship Guide</a>
                <br>
                <a target="_blank" href="/dcos/STONES, CROWINGS, AND KINGDOMS.pdf">Stones, Crowings, and Kingdoms</a>
                <br>
                <a target="_blank" href="/docs/TEN QUESTIONS TO KEEP YOURSELF FROM SIN.pdf">10 Questions To Keep Yourself From Sin</a>
                <br>
                <a target="_blank" href="/docs/THANKFULNESS TO THE GREAT PHYSICIAN.pdf">Thankfulness To The Great Physician</a>
                <br>
                <a target="_blank" href="/docs/THE BEGINNING OF YOUR INHERITANCE.pdf">The Beginning Of Your Inheritance</a>
                <br>
                <a target="_blank" href="/docs/THE DOCTRINE OF THE LORD'S SUPPER.pdf">The Doctrine of the Lord's Supper</a>
                <br>
                <a target="_blank" href="/docs/The following is a confidential report on several candidates.pdf">The Following Is A Confidential Report On Several Candidates</a>
                <br>
                <a target="_blank" href="/docs/THE PERFECTING OF GOD THROUGH JESUS CHRIST.pdf">The Perfecting Of God Through Jesus Christ</a>
                <br>
                <a target="_blank" href="/docs/THE PROFIT IN TRIALS.pdf">The Profit in Trials</a>
                <br>
                <a target="_blank" href="/docs/The Rhyme of the Ancient Cell.pdf">The Rhyme of the Ancient Cell</a>
                <br>
                <a target="_blank" href="/docs/The Story of Dr. John Clarke.pdf">The Story of Dr. John Clarke</a>
                <br>
                <a target="_blank" href="/docs/THE TEN COMMANDMENTS AND THE SABBATH.pdf">The 10 Commandments and the Sabbath</a>
                <br>
                <a target="_blank" href="/docs/THERE IS A LOT IN A NAME.pdf">There Is A Lot In A Name</a>
                <br>
                <a target="_blank" href="/docs/This Blessed Old Book KJV 400 years.pdf">This Blessed Old Book KJV 400 years</a>
                <br>
                <a target="_blank" href="/docs/TIME AND CHANCE.pdf">Time and Chance</a>
                <br>
                <a target="_blank" href="/docs/Trail of Blood Timeline.pdf">Trail of Blood Timeline</a>
                <br>
                <a target="_blank" href="/docs/TRIVIUM APPLIED TO THE GOSPEL ANSWERS.pdf">Trivium Applied to the Gospel Answers</a>
                <br>
                <a target="_blank" href="/docs/USE OF WORDS.pdf">Use Of Words</a>
                <br>
                <a target="_blank" href="/docs/uwr_sixkeys_14.pdf">The 6 Keys to Financial Success</a>
                <br>
                <a target="_blank" href="/docs/VERSE COMPARISON CHART.XLS">Verse Comparison Chart</a>
                <br>
                <a target="_blank" href="/docs/Verse Comparison List.pdf">Verse Comparison List</a>
                <br>
                <a target="_blank" href="/docs/VERSES USING CHURCH.pdf">Verses Using Church</a>
                <br>
                <a target="_blank" href="/docs/VICTORY OVER THE WICKED ONE.pdf">Victory Over The Wicked One</a>
                <br>
                <a target="_blank" href="/docs/WEDDING SERVICE.pdf">Wedding Service</a>
                <br>
                <a target="_blank" href="/docs/WHAT I WANT FOR MY DAUGHTERS IN RESPECT TO A GOOD HUSBAND.pdf">What I Want For My Daughters In Respect To A Good Husband</a>
                <br>
                <a target="_blank" href="/docs/WHAT I WANT FOR MY SONS IN RESPECT TO A GOOD WIFE.pdf">What I Want For My Sons In Respect To A Good Wife</a>
                <br>
                <a target="_blank" href="/docs/WHICH ZECHARIAH IN MATTHEW 23.35.pdf">Which Zechariah In Matthew 23:35</a>
                <br>
                <a target="_blank" href="/docs/Who Are You.pdf">Who Are You</a>
                <br>
                <a target="_blank" href="/docs/Why I AM A BAPTIST.pdf">Why I Am A Baptist</a>
                <br>
                <a target="_blank" href="/docs/wind.pdf">Wind</a>
                <br>
                <a target="_blank" href="/docs/WORD GENEALOGY.pdf">Word Genealogy</a>
                <br>
              </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
