<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
      <h1>eScriptures and eBooks</h1>
      <h4 class="blue-h4">Historic Baptist Church</h4>
      <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="row align-items-start">
            <div class="col documents">
                <a target="_blank" href="ebooks/Alien_Baptism.pdf">Alien Baptism</a>
                <br>
                <a target="_blank" href="ebooks/Arabic_JR_EVEN.pdf">Arabic JR Even</a>
                <br>
                <a target="_blank" href="ebooks/Arabic_JR_ODD.pdf">Arabic JR Odd</a>
                <br>
                <a target="_blank" href="ebooks/BI_Handbook.pdf">BI Handbook</a>
                <br>
                <a target="_blank" href="ebooks/Chinese_John_01_10.doc">Chinese John 01_10</a>
                <br>
                <a target="_blank" href="ebooks/Chinese_John_41_50.doc">Chinese John 41_50</a>
                <br>
                <a target="_blank" href="ebooks/Chinese_John_11_20.doc">Chinese John_11_20</a>
                <br>
                <a target="_blank" href="ebooks/Chinese_John_21_30.doc">Chinese John_21_30</a>
                <br>
                <a target="_blank" href="ebooks/Chinese_John_31_40.doc">Chinese John_31_40</a>
                <br>
                <a target="_blank" href="ebooks/Chinese_John_51_60.doc">Chinese John_51_60</a>
                <br>
                <a target="_blank" href="ebooks/Chinese_John_61_68.doc">Chinese John_61_68</a>
                <br>
                <a target="_blank" href="ebooks/FROM WHICH TREE DO YOU EAT.pdf">From Which Tree Do You Eat</a>
                <br>
                <a target="_blank" href="ebooks/Historical_Baptist_Position.pdf">Historical Baptist Position</a>
                <br>
              </div>
              <div class="col documents">
                <a target="_blank" href="ebooks/human_condition.pdf">Human Condition</a>
                <br>
                <a target="_blank" href="ebooks/JR_KJV_8.5x5.5_cover.pdf">JR_KJV_8.5x5.5_cover</a>
                <br>
                <a target="_blank" href="ebooks/JR_KJV_8.5x5.5.pdf">JR_KJV_8.5x5.5</a>
                <br>
                <a target="_blank" href="ebooks/Juan_Romanos_Spanish-1.pdf">Juan y Romanos Spanish</a>
                <br>
                <a target="_blank" href="ebooks/Large_Chinese_1.pdf">Large Chinese 1</a>
                <br>
                <a target="_blank" href="ebooks/Large_Chinese_2.pdf">Large Chinese 2</a>
                <br>
                <a target="_blank" href="ebooks/Large_Chinese_3.pdf">Large Chinese 3</a>
                <br>
                <a target="_blank" href="ebooks/Large_Chinese_4.pdf">Large Chinese 4</a>
                <br>
                <a target="_blank" href="ebooks/NT ENGLISH SPANISH PARALLEL FINAL.pdf">New Testament English/Spanish Parallel</a>
                <br>
                <a target="_blank" href="ebooks/Tract_NK_Church.pdf">Tract NK Church</a>
                <br>
                <a target="_blank" href="ebooks/Why_Baptist.pdf">Why Baptist</a>
                <br>
                <a target="_blank" href="ebooks/Why_Death.pdf">Why Death</a>
                <br>
            </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
