<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <script>
    AOS.init();
  </script>

  <% include ../partials/nav.ejs %>

  <div class="video-header">
      <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="/images/logo-animation-v3-smaller.mp4" type="video/mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Historic Baptist Church</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Preaching the Book, the Blood, and the Blessed Hope</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://www.facebook.com/historicbaptistchurch/">Watch Online</a></button>
            <button type="button" class="service-button btn btn-outline-secondary btn-lg px-4"><a href="#service-times">Service Times</a></button>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="container-fluid h-100">
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <p>On the following pages of this site you will discover what salvation in Christ really means, and why everyone in this world needs to come to a saving faith in Jesus Christ. If you are already a believer, we want to encourage you to live your life for Jesus Christ. We pray you would let others know of this site. If you have not yet believed on the Lord Jesus Christ, we implore you to do just that, and that it be TODAY that you enjoy this great gift of Salvation. Historic Baptist Church has one major goal: to reflect the light of Jesus Christ -- the WORD of God -- in this world of spiritual darkness. Our hope is that all will come to know how great Jesus Christ is, and what a blessed life He offers to all who will trust in Him. The site was designed to meet that hope, and to instruct and encourage believers to preach the good news of salvation through Jesus Christ.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid h-100" style="background-color: #4d7894 ;color: #ffffff;" id="service-times"> 
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <h2 style="padding-bottom: 30px;">Service Times</h2>
        <div class="col">
          <h4>Sunday:</h4>
          <p>Sunday School at 10:00 AM</p>
          <p>Main Service at 11:00 AM</p>
          <p>Evening Service at 3:00 PM</p>
        </div>
        <div class="col">
          <h4>Wednesday:</h4>
          <p>Prayer Service at 6:30 PM</p>
        </div>
        <div class="col">
          <h4>Saturday:</h4>
          <p>Service at 6:30 PM</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid h-100">
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <p>Historic Baptist Church also supports Rhode Island Baptist Seminary. They offer the complete Baptist International School of the Scriptures curricula as envisioned by Dr. Don M. Fraser and as commissioned by Dr. J. G. Tharpe for Baptist Christian University International. The School of the Scriptures curricula have been successfully taught by Bible-believing Baptist churches for over 50 years. The curricula are closely associated with the Bearing Precious Seed ministries. Rhode Island Baptist Seminary is also led by Pastor Nash Desent.

          <br><br>The curricula are offered free of charge and are available to all. Degrees are conferred upon completion of the levels to registered and approved students. Unregistered students and schools have liberty to use the program as they desire.
          
          <br><br>Their hope is that fundamental Baptist churches worldwide will use our program in their own seminaries and train their own men for the ministry, as God has intended.</p>
          <button type="button" style="width: 250px;display: block;margin: auto;" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://baptistinternationalseminary.org">More Information</a></button>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="padding: 0px;">
    <iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11939.428780115384!2d-71.4599215!3d41.5723352!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e8a662bc46ee7ed!2sHistoric%20Baptist%20Church!5e0!3m2!1sen!2sus!4v1630697306191!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

<% include ../partials/footer.ejs %>

</body>
</html>
