<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class="video-header">
    <div class="overlay"></div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="/images/logo-animation-v3-smaller.mp4" type="video/mp4">
    </video>

    <div class="container h-100">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Historic Baptist Church</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Preaching the Book, the Blood, and the Blessed Hope</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://www.facebook.com/historicbaptistchurch/">Watch Online</a></button>
            <button type="button" class="service-button btn btn-outline-secondary btn-lg px-4"><a href="#service-times">Service Times</a></button>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="container-fluid h-100">
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <p>On the following pages of this site you will discover what salvation in Christ really means, and why everyone in this world needs to come to a saving faith in Jesus Christ. If you are already a believer, we want to encourage you to live your life for Jesus Christ. We pray you would let others know of this site. If you have not yet believed on the Lord Jesus Christ, we implore you to do just that, and that it be TODAY that you enjoy this great gift of Salvation. Historic Baptist Church has one major goal: to reflect the light of Jesus Christ -- the WORD of God -- in this world of spiritual darkness. Our hope is that all will come to know how great Jesus Christ is, and what a blessed life He offers to all who will trust in Him. The site was designed to meet that hope, and to instruct and encourage believers to preach the good news of salvation through Jesus Christ.</p>
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid h-100" style="background-color: #4d7894 ;color: #ffffff;" id="service-times"> 
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <div class="col">
          <img src="/images/hbc-logo-white.png" style="width: 200px;display: block;margin: auto;">
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="container-fluid h-100">
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <h2 style="padding-bottom: 20px;">Local Church Collaboration</h2>
        <div class="col-lg-6" style="margin-top: 15px;">    
          <h4 style="padding-bottom: 10px;">Chaplain Services</h4>
          <p><img src="/images/chaplain-img-blue.png" style="width: 100px;float:left;margin-right: 20px;">Are you or a loved one sick, in the hospital or confined to your home due to medical limitations? We at HBC offer chaplaincy services brought right to your home, hospital or healthcare facility. <br><br>
            The Chaplaincy services of HBC offer in-person visits regardless of local from our resident chaplain Pastor Obadiah Desent. Pastor Obadiah is a Chaplain with the VNA Hospice Of Care New England and understands the importance of prayer, worship and spiritual counseling during times of sickness and grief.<br><br>
            If you or a loved one would benefit from an in-home, hospital or healthcare visit from the HBC Chaplain we encourage you to reach out to Pastor Obadiah Desent at 401-862-4754 or Email at <a href="mailto:Desent1611@live.com">Desent1611@live.com</a>.<br><br>
            All services are free of charge.    
          </p>
        </div>
        <div class="col-lg-6" style="margin-top: 15px;">    
          <h4 style="padding-bottom: 10px;">Pulpit Supply</h4>
          <p>Historic Baptist Church has many experienced pastors and preachers ready to help local churches in need of someone to preach the word of God.</p>
          <h5>Preston James</h5>
            <p><img src="/images/james.jpg" width="200px" style="float: left;padding-right: 15px;">Preston James has been a faithful member of HBC for over 5 years. Pastor Preston is an ordained minister with a bachelors from Bob Jones University, and after obtaining his master's, Preston is now pursuing his doctorate at Rhode Island Baptist Seminary. He brings his experience and extensive study into his sermons. Preston and his wife, Beth, are available for pulpit supply as needed.</p>
          <br>
            <h5>Wesley Allen</h5>
            <p><img src="/images/allens.jpeg" width="200px" style="float: left;padding-right: 15px;">Wesley Allen has been faithfully attending HBC since ending his military career. Wesley has been active in pastoral roles at HBC, including choir ministry, preaching, teaching and continuing his religious education in pursuit of his master's at Rhode Island Baptist Seminary. He, along with his wife Victoria, have a heart for the ministry and are available for pulpit supply and music as needed.</p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid h-100" style="background-color: #4d7894 ;color: #ffffff;">
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <div class="col-lg-12" style="margin-top: 15px;">    
          <h2 style="padding-bottom: 20px;">Chaplain Services</h2>
          <p><img src="/images/chaplain-img.png" style="width: 100px;float:left;margin-right: 20px;">Are you or a loved one sick, in the hospital or confined to your home due to medical limitations? We at HBC offer chaplaincy services brought right to your home, hospital or healthcare facility. <br><br>
            The Chaplaincy services of HBC offer in-person visits regardless of local from our resident chaplain Pastor Obadiah Desent. Pastor Obadiah is a Chaplain with the VNA Hospice of Care New England and he understands the importance of prayer, worship and spiritual counseling during times of sickness and grief.<br><br>
            If you or a loved one would benefit from an in-home, hospital or healthcare visit from the HBC Chaplain we encourage you to reach out to Pastor Obadiah Desent at 401-862-4754 or Email at <a href="mailto:Desent1611@live.com" style="color: #ffffff;">Desent1611@live.com</a>.<br><br>
            All services are free of charge.    
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid h-100">
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <div class="col-lg-12" style="margin-top: 15px;">    
          <h2 style="padding-bottom: 20px;">Pulpit Supply</h2>
          <p>Historic Baptist Church has many experienced pastors and preachers ready to help local churches in need of someone to preach the word of God.</p>
          <h5>Preston James</h5>
            <p><img src="/images/james.jpg" width="200px" style="float: left;padding-right: 15px;">Preston James has been a faithful member of HBC for over 5 years. Pastor Preston is an ordained minister with a bachelors from Bob Jones University, and after obtaining his master's, Preston is now pursuing his doctorate at Rhode Island Baptist Seminary. He brings his experience and extensive study into his sermons. Preston and his wife, Beth, are available for pulpit supply as needed.</p>
          <br>
            <h5>Wesley Allen</h5>
            <p><img src="/images/allens.jpeg" width="200px" style="float: left;padding-right: 15px;">Wesley Allen has been faithfully attending HBC since ending his military career. Wesley has been active in pastoral roles at HBC, including choir ministry, preaching, teaching and continuing his religious education in pursuit of his master's at Rhode Island Baptist Seminary. He, along with his wife Victoria, have a heart for the ministry and are available for pulpit supply and music as needed.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid h-100" style="background-color: #4d7894 ;color: #ffffff;" id="service-times"> 
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <h2 style="padding-bottom: 30px;">Service Times</h2>
        <div class="col">
          <h4>Sunday:</h4>
          <p>Sunday School at 10:00 AM</p>
          <p>Main Service at 11:00 AM</p>
          <p>Evening Service at 3:00 PM</p>
        </div>
        <div class="col">
          <h4>Wednesday:</h4>
          <p>Prayer Service at 6:30 PM</p>
        </div>
        <div class="col">
          <h4>Saturday:</h4>
          <p>Service at 6:30 PM</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid h-100">
    <div class="px-4 py-5">
      <div class="col-lg-8 mx-auto row align-items-start">
        <p>Historic Baptist Church also supports Rhode Island Baptist Seminary. They offer the complete Baptist International School of the Scriptures curricula as envisioned by Dr. Don M. Fraser and as commissioned by Dr. J. G. Tharpe for Baptist Christian University International. The School of the Scriptures curricula have been successfully taught by Bible-believing Baptist churches for over 50 years. The curricula are closely associated with the Bearing Precious Seed ministries. Rhode Island Baptist Seminary is also led by Pastor Nash Desent.

          <br><br>The curricula are offered free of charge and are available to all. Degrees are conferred upon completion of the levels to registered and approved students. Unregistered students and schools have liberty to use the program as they desire.
          
          <br><br>Their hope is that fundamental Baptist churches worldwide will use our program in their own seminaries and train their own men for the ministry, as God has intended.</p>
          <button type="button" style="width: 250px;display: block;margin: auto;" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://baptistinternationalseminary.org">More Information</a></button>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="padding: 0px;">
    <iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11939.428780115384!2d-71.4599215!3d41.5723352!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e8a662bc46ee7ed!2sHistoric%20Baptist%20Church!5e0!3m2!1sen!2sus!4v1630697306191!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

  <%- include('../partials/footer.ejs') %>


</body>
</html>