<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="col-lg-12">
          <p>
            <video style="float: right;padding-left: 15px;" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="500px">
              <source src="/images/missions.mp4" type="video/mp4">
            </video>
            Historic Baptist Church is missions-minded.  A Baptist church that does not support missions with a world vision is not a true Baptist Church.  A Baptist church that does not support missions is robbing blessings from their church membership and hindering their financial growth.
            <br><br>Historic Baptist Church supports missionaries in many countries would-wide.  We faithfully support over 50 missionaries monthly by God’s grace and the generosity of God’s people.
            <br><br>In addition to supporting various missionaries, since 2015 our church has focused on areas for saturation of missionaries – that is, world evangelism with a plan.  This plan was initiated in Peru.  Peru has 24 departments (equivalent to our states) as follows:
          </p>  
        </div>
      </div>
      <div class="px-4">
        <div class="row">
          <div class="col">
            <ul>
              <li>Amazonas</li>
              <li>Ancash</li>
              <li>Apurímac</li>
              <li>Arequipa</li>
              <li>Ayacucho</li>
              <li>Cajamarca</li>
              <li>Cuzco</li>
              <li>Huancavelica</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>Huánuco</li>
              <li>Ica</li>
              <li>Junín</li>
              <li>La Libertad</li>
              <li>Lambayeque</li>
              <li>Lima</li>  
              <li>Loreto</li>  
              <li>Madre de Dios</li>  
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>Moquegua</li>  
              <li>Pasco</li>  
              <li>Piura</li>  
              <li>Puno</li>  
              <li>San Martin</li>  
              <li>Tacna</li>  
              <li>Tumbes</li>
              <li>Ucayali</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12">
            <p>     
            Because of a focus for missions in respect to Peru, we have over 30 missionaries we support in that country with a minimum of one missionary in each department.  Some department have two or three missionaries that we support.
            <br><br>For 2022, we shall focus by God’s grace on Bolivia.  Bolivia has nine departments as follows:
            <ul>
              <li>a Paz</li>
              <li>Pando</li>
              <li>Beni</li>
              <li>Santa Cruz</li>
              <li>Tarija</li>
              <li>Chuquisaca</li>
              <li>Potosi</li>
              <li>Cochabamba</li>
              <li>Oruro</li>
            </ul>
            </p>
            <p>
              Both Peru and Bolivia are wonderful places with wonderful people who – as in all the world – need to hear the gospel of salvation.  God will bless your generosity in giving to these mission projects.  100% of all giving goes into the hands of proved Gospel-preaching missionaries and pastors.
            <br><br>As a united effort that parallels supporting missionaries, we also have provided funds and expertise so that New Testaments can be printed on-site in these foreign fields.  We wholeheartedly support the publishing of scriptures in the United States for free world-wide distribution.  However, our focus in the scripture work is to encourage and support local churches worldwide to publish and distribute scriptures.  In Peru and Bolivia, we have had the privilege to produce and distribute tons on scripture.  We only expect this work to expand.  When giving to our scripture fund, you can be assured 100% of all giving goes to the paper, ink, printing, binding, and distribution of these scripture free of charge.
          </p>
          <button type="button" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://donorbox.org/peru-missions-hbc?default_interval=m">Donate to Peru Missions</a></button>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
