<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="col-lg-12">
          <p>
            <!-- <video style="float: right;padding-left: 15px;" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="500px">
              <source src="/images/missions.mp4" type="video/mp4">
            </video> -->
            <video style="float: right;padding-left: 15px;" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="200px">
              <source src="/images/Missions-wall.m4v" type="video/mp4">
            </video>
            Historic Baptist Church is missions-minded.  A Baptist church that does not support missions with a world vision is not a true Baptist Church.  A Baptist church that does not support missions is robbing blessings from their church membership and hindering their financial growth.
            <br><br>Historic Baptist Church supports missionaries in many countries would-wide.  We faithfully support over 50 missionaries monthly by God’s grace and the generosity of God’s people.</p>
            <h3>Peru</h3>
            <p>In addition to supporting various missionaries since 1991, starting in 2014 our church has focused on areas for saturation of missionaries – that is, world evangelism with a plan.  This plan was initiated in Peru.  Peru has 24 departments (equivalent to our states) as follows:
          </p>  
        </div>
      </div>
      <div class="px-4">
        <div class="row">
          <div class="col">
            <ul>
              <li>Amazonas</li>
              <li>Ancash</li>
              <li>Apurímac</li>
              <li>Arequipa</li>
              <li>Ayacucho</li>
              <li>Cajamarca</li>
              <li>Cuzco</li>
              <li>Huancavelica</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>Huánuco</li>
              <li>Ica</li>
              <li>Junín</li>
              <li>La Libertad</li>
              <li>Lambayeque</li>
              <li>Lima</li>  
              <li>Loreto</li>  
              <li>Madre de Dios</li>  
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>Moquegua</li>  
              <li>Pasco</li>  
              <li>Piura</li>  
              <li>Puno</li>  
              <li>San Martin</li>  
              <li>Tacna</li>  
              <li>Tumbes</li>
              <li>Ucayali</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12">
            <p>     
            Because of a focus for missions in respect to Peru, we have over 45 missionaries we support in that country, with a minimum of one missionary in each department.  Some department have two or three missionaries that we support.
            </p>
            <h3>Bolivia and Pakistan</h3>
            <p>For 2022 and following, we shall focus by God’s grace on Bolivia and Pakistan.  
            </p>
        </div>
        <div class="row">
          <div class="col">
            <p>Bolivia has nine departments as follows:</p>
            <ul>
              <li>La Paz</li>
              <li>Pando</li>
              <li>Beni</li>
              <li>Santa Cruz</li>
              <li>Tarija</li>
              <li>Chuquisaca</li>
              <li>Potosi</li>
              <li>Cochabamba</li>
              <li>Oruro</li>
            </ul>
          </div>
          <div class="col">
            <p>Pakistan has seven provinces as follows:</p>
            <ul>
              <li>Balochistan</li>
              <li>Punjab</li>
              <li>Sindh</li>
              <li>Khyber-Pakhtunkhwa</li>
              <li>The federally administered Islamabad Capital Territory</li>
              There are also two autonomous territories in the disputed region of Kashmir, which are:
              <li>Gilgit-Baltistan</li>  
              <li>Azad Jammu and Kashmir</li>  
            </ul>
          </div>
        </div>
        <h3>India</h3>
            <p>
              In 1999, Wilson Saripalli, Mission Director of Advance India, of Calvary Baptist Church, Hyderabad, India, helped begin Advance India for the purpose and mission to evangelize the unreached Dalits and tribal people of India. God has helped them to equip, educate, empower, and support pastors in four districts in the Telangana state and four districts in Andra Pradesh, South India.  They accomplish this through Bible training, pastor’s conferences, and village outreaches. They are presently ministering to 160 national pastors and reaching 310 villages and slums.Through this ministry, 50 young men have already graduated and have become pastors.  In addition, 100 lay pastors have been trained, 75 churches have been started, and more than 7,000 children have been reached.  They are also helping needy children with education through our kid’s centers and Bible clubs.  

              <br><br>On-going ministries include:</p>
              <ul>
                <li>Training national pastors</li>
                <li>Village gospel outreach ministries</li>
                <li>Conducting all-night pastors’ prayer meetings</li> 
                <li>Children ministries</li>
                <li>Bible distribution</li>
                <li>Children education clubs</li> 
                <li>Church planters support</li> 
                <li>Church building construction</li> 
                <li>Reaching the unfortunate and downtrodden people in society.</li>
                <li>Helping the poor in the areas of well-drilling, medical camps, children education clubs, and women empowerment programs.</li>
              </ul>

            <p>God has done an amazing work thus far for His glory but there are still so many people who have not heard the gospel of Jesus.</p>
            <hr>            
            <p>
              Peru, Bolivia, Pakistan, and India are wonderful places with wonderful people who – as in all the world – need to hear the gospel of salvation.  God will bless your generosity in giving to these mission projects.  100% of all giving goes into the hands of proved Gospel-preaching missionaries and pastors.
            <br><br>As a united effort that parallels supporting missionaries, we also have provided funds and expertise so that New Testaments can be printed on-site in these foreign fields.  We wholeheartedly support the publishing of scriptures in the United States for free world-wide distribution.  However, our focus in the scripture work is to encourage and support local churches worldwide to publish and distribute scriptures.  In foreign fields, we have had the privilege to produce and distribute tons on scripture.  We only expect this work to expand.  When giving to our scripture fund, you can be assured 100% of all giving goes to the paper, ink, printing, binding, and distribution of these scripture free of charge.
            <br><br>You may give to Peru, Bolivia, Pakistan, or India using the buttons below. God bless you.
          </p>
          <button type="button" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://donorbox.org/peru-missions-hbc">Donate to Missions for Peru</a></button><br><br>
          <button type="button" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://donorbox.org/bolivia-missions-through-historic-baptist-church">Donate to Missions for Bolivia</a></button><br><br>
          <button type="button" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://donorbox.org/pakistan-missions-by-historic-baptist-church">Donate to Missions for Pakistan</a></button><br><br>
          <button type="button" class="watch-button btn btn-primary btn-lg px-4 gap-3"><a target="_blank" href="https://donorbox.org/india-missions-by-historic-baptist-church">Donate to Missions for India</a></button><br><br>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
