<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
      <h1>Music</h1>
      <h4 class="blue-h4">Historic Baptist Church</h4>
      <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="px-4">
            <div class="row align-items-start"> 
                <div class="col">
                    <p>
                    Historic Baptist Church's music ministry is meant to uplift and encourage God's people with songs about the goodness of God, His salvation, and heaven. Our purpose is to honor and glorify God with our music, and praise Him for all He has done for us. We hope that these songs will be an encouragement to you and all who hear them.
                    <br><br>“I will sing unto the LORD as long as I live: I will sing praise to my God while I have my being.” ~ Psalm 104:33                  </p>
                </div>
                <div class="col">
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
                        <source src="/images/Music.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="px-4">
            <div class="row align-items-start"> 
                <div class="col" style="margin-top: 15px;">
                    <h4 class="blue-h4">HBC Youth Choir CD</h4>
                    <table style="width:100%">
                      <tr>
                        <td><h3 class="song-title">Peace Speaker</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Peace Speaker.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Peace Speaker.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">God Saves Old Sinners</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/God Saves Old Sinners.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/God Saves Old Sinners.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Shout to the Lord</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Shout To The Lord.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Shout To The Lord.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Nail it to the Cross</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Nail It To The Cross.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Nail It To The Cross.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">City of Refuge</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/City Of Refuge.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/City Of Refuge.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">The Father Still Forgives</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/The Father Still Forgives.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/The Father Still Forgives.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">That's My God</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/That's My God.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/That's My God.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">One Holy Lamb</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/One Holy Lamb.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/One Holy Lamb.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">We Will Stand Our Ground</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/We Will Stand Our Ground.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/We Will Stand Our Ground.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Jesus Saves</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Jesus Saves.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Jesus Saves.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Jesus, What A Wonderful Name</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Jesus What A Wonderful Name.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Jesus What A Wonderful Name.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">I Plead the Blood</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/I Plead The Blood.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/I Plead The Blood.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">One Fine Day</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/One Fine Day.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/One Fine Day.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">I Know a Man Who Can</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/I Know A Man Who Can.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/I Know A Man Who Can.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Master of the Wind</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Master Of The Wind.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Master Of The Wind.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Coming Soon</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Coming Soon.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Coming Soon.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Higher Throne</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Higher Throne.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Higher Throne.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Blessed be the Name</h3></td>
                        <td><audio controls>
                          <source src="mp3/youth_cd/Blessed Be The Name.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/youth_cd/Blessed Be The Name.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col" style="margin-top: 15px;">
                    <h4 class="blue-h4">HBC Youth Choir Camp CD (live)</h4>
                    <table style="width:100%">
                      <tr>
                        <td><h3 class="song-title">Alabaster Box</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Alabaster Box.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Alabaster Box.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Find Us Faithful</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Find Us Faithful.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Find Us Faithful.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Great is Thy Faithfulness</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Great is Thy Faithfulness.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Great is Thy Faithfulness.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">He Called Me Out</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/He Called Me Out.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/He Called Me Out.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">He Knows My Name (wild)</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/He Knows My Name (wild).mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/He Knows My Name (wild).mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">He Knows My Name</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/He Knows My Name.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/He Knows My Name.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">How Deep the Father's Love</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/How Deep the Father's Love.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/How Deep the Father's Love.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">I Just Stopped By</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/I Just Stopped By.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/I Just Stopped By.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">I Stand Redeemed</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/I Stand Redeemed.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/I Stand Redeemed.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">I've Never Been Sorry</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/I've Never Been Sorry.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/I've Never Been Sorry.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Just Look At Him Now</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Just Look At Him Now.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Just Look At Him Now.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Lord Send that Fire</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Lord Send that Fire.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Lord Send that Fire.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Thank You Lord (Wild)</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Thank You Lord (Wild).mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Thank You Lord (Wild).mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Thank You Lord</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Thank You Lord.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Thank You Lord.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">The Lord is Good</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/The Lord is Good.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/The Lord is Good.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">There is a Remedy</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/There is a Remedy.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/There is a Remedy.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Through it All</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Through it All.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Through it All.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Through the Blood</h3></td>
                        <td><audio controls>
                          <source src="mp3/camp_cd/Through the Blood.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/camp_cd/Through the Blood.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                    </table>
                  </div>
            </div>
            <br><br>
            <div class="row align-items-start">
                <div class="col" style="margin-top: 15px;">
                    <h4 class="blue-h4">Elesha and Juli Desent CD</h4>
                    <table style="width:100%">
                      <tr>
                        <td><h3 class="song-title">Alabaster Box</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Alabaster Box.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Alabaster Box.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">All Along</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/All Along.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/All Along.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Bow The Knee</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Bow The Knee.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Bow The Knee.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Farther Than Your Grace</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Farther Than Your Grace.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Farther Than Your Grace.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">His Life For Mine</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/His Life For Mine.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/His Life For Mine.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">How Deep The Fathers Love</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/How Deep the Fahers Love.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/How Deep the Fahers Love.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Made By Mercy</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Made By Mercy.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Made By Mercy.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">My Redeemer</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/My Redeemer.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/My Redeemer.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">My Saviors Love</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/My Saviors Love.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/My Saviors Love.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Power Of The Cross</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Power Of The Cross.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Power Of The Cross.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Thats My Child</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Thats My Child.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Thats My Child.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Under His Wings</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Under His Wings.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Under His Wings.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Via Dolorosa</h3></td>
                        <td><audio controls>
                          <source src="mp3/elesha_juli_cd/Via Dolorosa.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/elesha_juli_cd/Via Dolorosa.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col" style="margin-top: 15px;">
                    <h4 class="blue-h4">The Desent Family CD</h4>
                    <table style="width:100%">
                      <tr>
                        <td><h3 class="song-title">Arise my Soul Arise</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Arise my Soul Arise.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Arise my Soul Arise.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Bartimaeus</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Bartimaeus.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Bartimaeus.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Built on Amazing Grace</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Built on Amazing Grace.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Built on Amazing Grace.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Deeper than the Stain has Gone</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Deeper than the Stain has Gone.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Deeper than the Stain has Gone.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Exceeding Abundantly</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Exceeding Abundantly.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Exceeding Abundantly.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">God is Already There</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/God is Already There.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/God is Already There.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">He Came to Me</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/He Came to Me.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/He Came to Me.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">He Will Be Exalted</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/He Will Be Exaulted.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/He Will Be Exaulted.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Here Am I, I Will Go</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Here Am I, I Will Go.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Here Am I, I Will Go.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">I can Still go Free</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/I can Still go Free.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/I can Still go Free.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">John the Revelator</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/John the Revelator.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/John the Revelator.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Joshua</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Joshua.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Joshua.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">More Than Enough</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/More Than Enough.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/More Than Enough.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Noah Found Grace in Eyes of the Lord</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Noah Found Grace in Eyes of the Lord.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Noah Found Grace in Eyes of the Lord.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Praise Song</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Praise Song.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Praise Song.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Rest My Case at the Cross</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Rest My Case at the Cross.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Rest My Case at the Cross.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">The Church is Alive & Well</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/The Church is Alive & Well.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/The Church is Alive & Well.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">The Man in the Middle</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/The Man in the Middle.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/The Man in the Middle.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">Theres a Man in Here</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/Theres a Man in Here.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/Theres a Man in Here.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">What a Day that Will Be</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/What a Day that Will Be.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/What a Day that Will Be.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                      <tr>
                        <td><h3 class="song-title">What Never Changes</h3></td>
                        <td><audio controls>
                          <source src="mp3/desent_family/What Never Changes.mp3" type="audio/mpeg">
                        </audio></td>
                        <td><a class="download-arrow" href="mp3/desent_family/What Never Changes.mp3" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
                      </tr>
                    </table>
                  </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
