<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px;">
      <div class="row">
        <div class="col-md-12">
          <hr class="hidden-xs hidden-sm">
          <h1 class="subpage-header">OUR POLICIES</h1>
          <div class="disclaimer">
            <h4>* Prices and Duration are starting point quotes and they can change for many reasons.</h4>
            <h4>Walk ins acceptable (except for nail services), free parking</h4>
            <h4>Refund policy</h4>
            <p>If you find that you are not satisfied with your service. Artform Salon requires communication within a 48 hour period from serviced appointment. Here at Artform Salon we strive for 100% satisfaction. We will issue one redo appointment for the identical service originally issued at no charge. If your requested fix is different from your agreed upon consulted appointment then applicable charges apply.</p>
            <h4>Cancellaton policy</h4>
            <p>Artform Salon no show/cancellation policy is as follows. First no show/cancellation warning of potential charges. Second no show/cancellation we will require 50% of potential service payment upfront in order to book time with requested stylist/technician. Third no show/cancellation stylist/technician has Artform Salon full authority of choice to refuse or continue service.</p>
            <h4>Payment Methods</h4>
            <p>Visa, MasterCard, Discover, American Express, Cash, and Checks</p>
        </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>