<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style=" margin-top: 170px;">
      <div class="row">
        <div class="col-md-12">
          <hr class="hidden-xs hidden-sm">
          <h1 class="subpage-header">SERVICES</h1>
          <div class="container">
            <ul class="nav nav-services nav-pills hidden-xs hidden-sm">
              <li class="active"><a data-toggle="pill" href="#home">Cut & Style</a></li>
              <li><a data-toggle="pill" href="#menu2">Color</a></li>
              <li><a data-toggle="pill" href="#menu3">Highlights/Hand Painting</a></li>
              <li><a data-toggle="pill" href="#menu4">Lashes</a></li>
              <li><a data-toggle="pill" href="#menu5">Nails</a></li>
              <li><a data-toggle="pill" href="#menu6">Specialty</a></li>
              <li><a data-toggle="pill" href="#menu7">Treatments/Textures</a></li>
              <li><a data-toggle="pill" href="#menu8">Extensions</a></li>
              <!-- <li><a data-toggle="pill" href="#menu10">Makeup</a></li>
              <li><a data-toggle="pill" href="#menu11">Waxing</a></li> -->
              <li><a data-toggle="pill" href="#menu12">Brows</a></li>
            </ul>

            <ul class="nav nav-services nav-pills hidden-md hidden-lg">
                <li class="dropdown">
                   <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Services <span class="caret"></span></a>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                      <li class="active"><a data-toggle="pill" href="#home">Cut & Style</a></li>
                      <li><a data-toggle="pill" href="#menu2">Color</a></li>
                      <li><a data-toggle="pill" href="#menu3">Highlights/Hand Painting</a></li>
                      <li><a data-toggle="pill" href="#menu4">Lashes</a></li>
                      <li><a data-toggle="pill" href="#menu5">Nails</a></li>
                      <li><a data-toggle="pill" href="#menu6">Specialty</a></li>
                      <li><a data-toggle="pill" href="#menu7">Treatments/Textures</a></li>
                      <li><a data-toggle="pill" href="#menu8">Extensions</a></li>
                      <!-- <li><a data-toggle="pill" href="#menu10">Makeup</a></li>
                      <li><a data-toggle="pill" href="#menu11">Waxing</a></li> -->
                      <li><a data-toggle="pill" href="#menu12">Brows</a></li>
                   </ul>
                </li>
             </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">

                <div class="col-md-12">
                    <h3>Cut & Style</h3>
                    <h5>Complimentary Consultation</h5>
                    The most important part of any of our services is our consultation. This helps the stylist and the guest be on the same page. Managing expectations of what is achievable while maintaining your hairs health. An agreed upon step by step plan  to achieving your desired result. Strongly recommended for all new guests.<br><br>

                  <h5>Women Haircut - Starting at $40</h5>
                    A customized haircut designed by your stylist to fit your individual style and preferences. Includes a relaxing shampoo, massage, and finished with a warm towel. Extra long, thick, and curly hair may incur an additional fee as it takes more time with our stylist as discussed within your consultation.<br><br>

                 <h5> Men’s Haircut - Starting at $30</h5>
                    A customized haircut designed by your stylist to fit your individual style and preferences. Includes a relaxing shampoo, massage, and finished with a warm towel. Razor clean up of the hairline which keeps your hair/skin smooth longer may incur additional fee.<br><br>

                  <h5>Fringe Trim - Starting at $10</h5>
                    Designed for the quick clean up of your bang area. This service is cut dry and finished in minutes.<br><br>

                  <h5>Child Haircut - Starting at $20</h5>
                    A customized haircut designed by your stylist to fit your individual style and preferences for our youngest guests under the age of 10 only. Includes a relaxing shampoo, massage, and finished with a warm towel. Extra long, thick, and curly hair may incur an additional fee as it takes more time with our stylist as discussed within your consultation.<br><br>

                  <h5>Blow Dry - Starting at $35</h5>
                    Includes a relaxing shampoo, massage, and finished with a warm towel followed by professional styling and finishing with a blow dryer. Extra long, thick curly hair may incur an additional fee as it takes more time with our stylist as discussed within your consultation.<br><br>

                  <h5>Blow Dry with Iron Work - Starting at $45</h5>
                    Includes a relaxing shampoo, massage, and finished with a warm towel followed by professional styling and finishing with a blow dryer, curling iron, and/or flat iron. Extra long, thick curly hair may incur an additional fee as it takes more time with our stylist as discussed within your consultation.
                </div>
              </div>
              <div id="menu2" class="tab-pane fade">

                <div class="col-md-12">
                    <h3>Color</h3>
                    Artform Salon has certified color technicians that continually educate themselves. We utilize Kemon hair color line (1965) which is enriched with coconut oil as it’s base with 50 years of research, evolution and reliability. 100% coverage of non-pigmented hair as well as sensitive options that are Ammonia and PPD free. The ultimate in creative color options to fit your every color need. All color services include a relaxing shampoo, massage, and finished with a warm towel.<br><br>

                    <h5>Single Process Color - Starting at $65</h5>
                      100% coverage of non-pigmented hair up to 1 inch from the scalp also called the regrowth area. If longer than 1 inch additional charges may apply.<br><br>

                      <h5>Glaze - Starting at $35</h5>
                      Customized Semi/Demi-Permanent glaze to refresh your color and equalize your hair's porosity while giving softness, condition and brilliant shine.<br><br>

                      <h5>Grey Blending - Starting at $25</h5>
                      Customized Semi/Demi-Permanent color designed to add a bit more pepper to a gentleman’s salt & pepper. Lasts up to 20 shampoos and fades away gently without leaving an unnatural affect.<br><br>

                      <h3>Specialty Color</h3>

                      <h5>Creative Color - Starting at $115</h5>
                      Any combination of three or more colors, not fashion tones, in a customized application that has been agreed upon with your stylist within your consultation.<br><br>

                      <h5>Double Process Color - Starting at $150</h5>
                    Double process is a two step color service where you're lightened and glazed to an overall platinum or beige blonde result. Consultation and color plan agreement is required prior to booking this service allowing maximum success in achieving desired result.<br><br>

                    <h5>Corrective Color - Starting at $200</h5>
                      Sometimes a corrective service is needed when a client decides to make a drastic change and needs to return to the good ole days. This can be a multiple appointment journey and a consultation and color plan agreement is required prior to booking this service to achieve desired results.<br><br>

                    *Extra length, density, and overall thickness of hair may incur additional charges as it takes more product and time to achieve desired results. Discussed within your consultation.

                </div>
              </div>
              <div id="menu3" class="tab-pane fade">

                <div class="col-md-12">
                    <h3>Highlights</h3>

                    Classic to creative and everything in between… Artform Salon has you covered. Consultations are recommended as each session is customized to the individual! All highlight and hand painting services include a relaxing shampoo, massage, and finished with a warm towel.<br><br>


                    <h5>Full Head Highlight - Starting at $145</h5>
                      A full head application of foiled highlights with a customized formulation creating a contrast and/or brightening effect throughout hair. <br><br>

                      <h5>Partial Highlight - Starting at $90</h5>
                      A partial application of foiled highlights with a customized formulation creating a contrast and/or brightening affect on only a partial area of the head shape. <br><br>

                      <h5>Baby Lights - Starting at $55</h5>
                      Minimal application of just a few foils around the front hairline with a very fine weave to give a bit of brightness or pop of lightness to the face. <br><br>

                      <h5>Strand Lights - Starting at $125</h5>
	                    Custom foil application to mimic the natural lightness and depth as in a child's hair color organically. Consultation is strongly recommended.<br><br>



                    <h3>Hand Painting</h3>

                    <h5>Full Balayage - Starting at $175</h5>
                      Balayage is the technique of free hand painting highlights onto the hair, creating a soft and natural gradation of lightness towards the ends applied to the entire head shape.<br><br>

                      <h5>Partial Balayage - Starting at $120</h5>
                    Same as the Full Balayage but to only a partial amount of the head shape. <br><br>

                    <h5>Creative Hand Painting - Priced upon consultation</h5>


                    *Extra length, density, and overall thickness of hair may incur additional charges as it takes more product and time to achieve desired results. Discussed and agreed upon within your consultation.

                </div>
              </div>
              <div id="menu4" class="tab-pane fade">
                    <ul class="nav nav-services nav-pills hidden-xs hidden-sm" style="padding-top: 25px;">
                        <li class="active"><a data-toggle="pill" href="#classic">Classic Lash Extensions</a></li>
                        <li><a data-toggle="pill" href="#hybrid">Hybrid Lash Extensions</a></li>
                        <li><a data-toggle="pill" href="#volume">Volume Lash Extensions</a></li>
                        <li><a data-toggle="pill" href="#lifts">Lifts & Tints</a></li>
                      </ul>

                      <ul class="nav nav-services nav-pills hidden-md hidden-lg">
                          <li class="dropdown">
                             <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Type<span class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" style="padding-top: 25px;">
                                <li class="active"><a data-toggle="pill" href="#classic">Classic Lash Extensions</a></li>
                                <li><a data-toggle="pill" href="#hybrid">Hybrid Lash Extensions</a></li>
                                <li><a data-toggle="pill" href="#volume">Volume Lash Extensions</a></li>
                                <li><a data-toggle="pill" href="#lifts">Lifts & Tints</a></li>
                             </ul>
                          </li>
                       </ul>
                <div class="tab-content">
                  <div id="classic" class="col-md-12 tab-pane fade in active">
                    <div class="col-md-9">
                        <h3>Classic Lash Extensions</h3>
                        Smile with your eyes!<br><br>
                        Our classic set utilizes single strand lashes that are attached one-by-one to your own natural lashes. One individual lash per natural lash. Gives the look of natural lashes.  <br><br>
                        Enjoy a luxurious experience with our licensed/certified expert technicians in a warm soft lash bed… One installation from our lash experts at Artform Salon, and you will be hooked! <br><br>
                        <h5>Full Set - $130</h5>
                        <h5>One Week Fill - $25</h5>
                        <h5>Two Week Fill - $55</h5>
                        <h5>Three Week Fill - $65</h5>
                        <h5>Four Week Fill - $90</h5><br><br>
                        <h5>Ideal classic set candidate:</h5>
                      -have never had eyelash extensions before <br>
                      -like more of a natural mascara look <br>
                      -have a lot of natural eyelashes (your eyelash tech can help determine this) <br>
                      <h5>All Lash sets are customizable with lengths/lash placement</h5>
                    </div>
                    <div class="col-md-3">
                        <img src="/images/IMG_3862.jpeg" style="width: 200px;margin-top: 40px; margin-bottom: 40px;"><br>
                    </div>
                  </div>
                <div class="col-md-12 tab-pane fade" id="hybrid">
                    <div class="col-md-9">
                        <h3>Hybrid Lash Extensions</h3>
                        Best of both worlds!<br><br>
                        Our hybrid lash extensions are a combination of both classic and volume lash techniques. They are a custom design created to enhance your natural eye shape, give some dramatic qualities without being overly done, all while keeping the health of your natural lashes #1. <br><br>
                        Enjoy a luxurious experience with our licensed/certified expert technicians in a warm soft lash bed… You are sure to get the perfect look you have been dreaming of!  <br><br>
                        <h5>Full Set - $150</h5>
                        <h5>One Week Fill - $30</h5>
                        <h5>Two Week Fill - $60</h5>
                        <h5>Three Week Fill - $70</h5>
                        <h5>Four Week Fill - $95 </h5><br><br>
                        <h5>Ideal hybrid set candidate:</h5>
                    -use heavy mascara <br>
                    -occasionally used the individual temporary lashes <br>
                    -want medium level of volume <br>
                    -have a normal amount of lashes (your lash tech can determine this) <br>
                    <h5>All Lash sets are customizable with lengths/lash placement</h5>
                    </div>
                    <img src="/images/IMG_3865.jpeg" class="col-md-3" style="width: 200px;margin-top: 40px; margin-bottom: 40px;"><br>
                </div>
                <div class="col-md-12 tab-pane fade" id="volume">
                    <div class="col-md-9">
                        <h3>Volume Lash Extensions</h3>
                        Turn up the volume! <br><br>
                        Our volume sets utilize ultra fine individual lashes which allow multiple eyelash extensions to be applied to each natural eyelash to create depth, volume, and texture. These are the real deal and are super light individual lashes, not flares, tabs or clusters which can damage the natural lash. Our individual volume lashes allow for more customization in the look and maintain the integrity of your natural lashes. They are naturally darker than the lashes in our classic sets. They still look natural, but with much more dramatic affect. <br><br>
                        With volume lashes, our expert lash technicians help you achieve the best lash volume by choosing the level of intensity you want and need. Using four different volume lash extensions – starting at 2D up to 4D. Enjoy a luxurious experience with our licensed/certified expert technicians in a warm soft lash bed… You are sure to get the look your heart desires, which will have you coming back for more! <br><br>
                        <h5>Full Set - $180</h5>
                        <h5>One Week Fill - $35</h5>
                        <h5>Two Week Fill - $65</h5>
                        <h5>Three Week Fill - $80</h5>
                        <h5>Four Week Fill - $100</h5><br><br>
                        <h5>Ideal volume set candidate:</h5>
                    -wear eyelash strip/false lashes most of the time <br>
                    -want the glamorous look <br>
                    -wants the most volume attainable <br>
                    -good for those who lack a good amount of natural lashes <br>
                    -most lightweight and soft <br>
                    <h5>All Lash sets are customizable with lengths/lash placement</h5>
                    </div>
                    <img src="/images/volume2.jpeg" class="col-md-3" style="width: 200px;margin-top: 40px; margin-bottom: 40px;"><br>
                </div>
                <div class="col-md-12 tab-pane fade" id="lifts">
                  <div class="col-md-9">
                      <h3>Lifts</h3>
                      <h5>Lash Lift - $65</h5>
                      A keratin based lift for the lashes. A three step process to curl and lift your natural lashes without commitment of extensions. Gives you a more open appearance to your eye with natural results.<br><br>
                      <h3>Tints</h3>
                      <h5>Lash tint - $35</h5>
                      A tint for your natural lashes to appear fuller and darker without commitment of extensions<br><br>
                      <h5>Lash Lift & Tint Package - $80</h5>
                  </div>
              </div>
              </div>
              </div>
              <div id="menu5" class="tab-pane fade">

                <div class="col-md-12">
                    <h3>Nails</h3>
                    Our Nail Technician services include basic manicures that clean, shape, condition and care for the fingers and hands as well as nail enhancements. Each service is customized to the individual guests tastes and preferences. Appointments are recommended. <br><br>
                    <h5>BASIC MANICURE - $18</h5>
                    <h5>GEL MANI - $30</h5>
                    <h5>ACRYLIC FULL SET - $45+</h5>
                    <h5>ACRYLIC FILL - 25+</h5>
                    <h5>Gel polish on top of acrylic - $10+</h5>
                    <h5>Gel full set - $65+</h5>
                    <h5>Gel fill - $35+</h5>
                    <h5>Acrylic/gel removal - $25+</h5>
                    <h5>Nail repair - $5 per nail</h5>
                    <h5>Nail art priced upon consultation</h5>
                    <h5>Dip - $35</h5>
                </div>
              </div>
              <div id="menu6" class="tab-pane fade">
                <div class="col-md-12">
                    <h3>Specialty</h3>
                    <h5>Special Occasion/Up-dos - Starting at $65</h5>
                    An elegant style where the hair is pulled up, and away from the neck. Classic to creative your special occasion style is great hands with us.<br><br>

                    <h5>Traditional Make-Up - Starting at $50</h5>
                    Enhance your natural beauty with a classic make-up application. Consultation with images are recommended.<br><br>

                    <h5>Airbrush Make-Up - Starting at $60</h5>
                    Airbrush make-up provides flawless coverage by minimizing skin imperfections while giving your skin a beautifully natural finished looking result. It is water resistant and will last for up to fifteen hours or more. Consultation with images are recommended.<br><br>

                    <h5>Waxing </h5>
                    Removal of unwanted hair from the root via honey and sensitive wax formulas.<br>

                  Brows - Starting at $15<br>
                  Lip - Starting at $10<br>
                  Chin - Starting at $5<br>

                </div>
              </div>
              <div id="menu7" class="tab-pane fade">
                <div class="col-md-12">
                    <h3>Treatments</h3>

                    <h5>Conditioning Treatment - Starting at $25</h5>
                      Strengthen, detangle and prevent split ends are all benefits of regular conditioning treatments. Each treatment is custom designed by your stylist to restore proteins and moisture back into your hair filling a need that your hair is asking for. All treatment services include a relaxing shampoo, massage, and finished with a warm towel that will melt the days stress away. Recommended to be paired with a blow dry service.<br><br>

                      <h5>Bond Building Treatment - Starting at $35</h5>
                    Used on it’s own as a stand alone treatment to re-build and re-bond the hair or in conjunction with color to help give strength to your hair during a lightening service.<br><br>

                    <h5>Keratin</h5>
                      Keratin Complex’s signature, award-winning keratin treatments offer a smoothing solution for every hair type, lifestyle and budget. Some of the benefits to these keratin services are…  smooth & straightened hair, repair damage, eliminate frizz & lock out humidity, reduce daily styling time, add shine & youthful elasticity. Extra length, density, and overall thickness of hair may incur additional charges as it takes more product and time to achieve desired results. Discussed and agreed upon within your consultation.<br><br>

                      <h5>Express Blow Out Treatment - Starting at $100.00</h5>
                    When partnered at home with the stylist recommended shampoo and conditioner clients can expect it to last approximately 3-5 weeks.<br><br>
                    <h5>Natural Keratin Smoothing Treatment - Starting at $250.00</h5>
                    When partnered at home with the stylist recommended shampoo and conditioner clients can expect it to last approximately 3-5 months.<br><br>
                    <h5>KC Max - Starting at $300.00</h5>
                    When partnered at home with the stylist recommended shampoo and conditioner clients can expect it to last approximately up to 3 months.<br><br>
                    <h3>Texture</h3>

                    <h5>Perm - Starting at $95</h5>
                      The process of creating curls and waves in your hair to enhance the body and volume in your style.



                </div>
              </div>
              <div id="menu8" class="tab-pane fade">

                <div class="col-md-12">
                    <h3>Extensions</h3>
                    <h5>Extensions - Priced Upon Consultation</h5>
                    We utilize HotHead Extensions and Aqua Extensions here at Artform Salon. During your consultation you’ll discuss hair mapping and what your goals are, whether single or double sided tape is best for your hair type, proper maintenance, adjustments and pricing. Call to schedule your consult today.
                </div>
              </div>
              <!-- <div id="menu10" class="tab-pane fade">
                <h3>Makeup</h3>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <p>Airbrushed Make-Up Application</p>
                    <p>Priced upon consultation</p>
                  </div>
                  <div class="col-md-4">
                    <p>Application</p>
                    <p>Traditional Makeup Application</p>
                  </div>
                </div>
              </div>
              <div id="menu11" class="tab-pane fade">
                <h3>Waxing</h3>
                <div class="col-md-12">
                  <div class="col-md-4">
                    <p>Waxing - Brow Shaping<br>$12.00</p>
                    <p>Waxing Different parts of the face.</p>
                  </div>
                  <div class="col-md-4">
                    <p>Waxing - Lips<br>$10.00</p>
                    <p>Waxing Different parts of the face.</p>
                  </div>
                  <div class="col-md-4">
                    <p>Waxing - Chin<br>$5.00</p>
                    <p>Waxing Different parts of the face.</p>
                  </div>
                </div>
              </div> -->
              <div id="menu12" class="tab-pane fade">

                <div class="col-md-12">
                    <h3>Brows</h3>
                    <h5>Brow Tint & Wax Package - $35</h5>
                    The process of applying semi-permanent dye to enhance, shape, and define your brows. Using custom eye brow mapping to give you the best brows of your life.                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>
