<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px;">
      <div class="row">
        <div class="col-md-12">
          <hr class="hidden-xs hidden-sm">
          <h1 class="subpage-header">SHOP</h1>
          <div class="col-md-12">
            <br>
            <br>
            <br>
            <br>
            <!-- <button type="button" style="background-color: #ffffff;border: rgb(206,0,25) solid 1px;width: 50%;border-radius: 0;margin: auto;display: block;" class="btn btn-outline-dark btn-lg btn-block"><a href="https://shop.saloninteractive.com/store/artformsalon?fbclid=IwAR2wEht0z7YBbCEAp89bSPt2Mk6P9xBTKKvCn8kBemGWokXWzwYQKGpSCp0">CLICK HERE TO SHOP</a></button><br><br> -->
            <button type="button" style="background-color: #ffffff;border: rgb(206,0,25) solid 1px;width: 50%;border-radius: 0;margin: auto;display: block;" class="btn btn-outline-dark btn-lg btn-block"><a href="https://squareup.com/gift/A80M6MQZ24370/order">GIFT CARDS</a></button><br>
            <div>
                <img src="/images/RCo-logo.jpg" alt="artform hair salon salons brands" style="width:500px;display: block;margin: auto;text-align: center;">
            </div>
            <div>
                <img src="/images/oligo-logo.png" alt="artform hair salon salons brands" style="width:500px;display: block;margin: auto;text-align: center;">
            </div>
            <!-- <div>
              <img src="/images/oligo-blacklight.png" alt="artform hair salon salons brands" style="width:500px;display: block;margin: auto;text-align: center;">
          </div> -->
            <div>
              <img src="/images/aluram-logo.jpg" alt="artform hair salon salons brands" style="width:500px;display: block;margin: auto;text-align: center;">
          </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>