<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
  <%- include('../partials/nav.ejs') %>
  <div class="container-fluid" style="padding: 0px;margin-top: -16px;">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
        <source src="/images/short-v3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container subpage-header">
        <h1>Staff</h1>
        <h4 class="blue-h4">Historic Baptist Church</h4>
        <hr>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="px-4">
          <div class="row align-items-start"> 
              <div class="col">
                <h3>Pastor Nash Desent</h3>
                <p><img src="/images/pastor-desents.jpg" width="200px" style="float: left;padding-right: 15px;">
                    Historic Baptist Church has been directed in the truth of God's word for the past thirty years by our Pastor, Nash S. Desent. Pastor and his wife and children came to our church from Shreveport, Louisiana, where Pastor attended Louisiana Baptist Seminary and worked on staff at Baptist Tabernacle, under the leadership of Pastor J. G. Tharpe. Bro. Tharpe is known as "Mr. Baptist" of Louisiana. The school there under the authority of Baptist Tabernacle. Baptist Tabernacle ordained and sent out our Pastor to start Historic Baptist Church. Over the years Historic Baptist Church and our pastor's family has grown. Pastor Desent has a Ph.D. in Scripture Ministries, a Th.D. in Theology, and an Honorary D.D.
                </p>
              </div>
          </div>
        </div>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="row align-items-start"> 
            <div class="col-lg-12 col-sm-12">
                <h3>Associate Pastor Obadiah Desent</h3>
                <p>
                    <img src="/images/desents.jpg" width="200px" style="float: left;padding-right: 15px;">Associate Pastor Obadiah Desent has had the privilege of growing up in an independent fundamental King James only Baptist church, Historic Baptist Church, under the pastoral-ship of his father, Nash Desent. Through pastor Desent’s example of passionately preaching the word of God and leading his family, as well as the flock that the Lord entrusted to him, Obadiah has grown a love for Historic Baptist Church and a burden for the souls of North Kingstown, RI. Obadiah completed his B.A. in Theology and M.Div degree from Rhode Island Baptist Seminary and is currently serving at Historic Baptist Church. Him, his wife Kelly, and their family faithfully attend and are looking forward to what God has planned for North Kingstown.
                </p>
            </div>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
      <div class="px-4">
        <div class="row align-items-start"> 
            <div class="col-lg-12 col-sm-12">
                <h3>Associate Pastor Michael Carrier</h3>
                <p>
                    <img src="/images/carriers.jpg" width="200px" style="float: left;padding-right: 15px;">Associate Pastor Michael Carrier was born and raised in Westerly and Narragansett RI. He received Jesus Christ as his personal Savior on May 12, 2013 at Historic Baptist Church. From that moment, Michael has been dedicated to serving the Lord and doing whatever He would have him to do. Michael surrendered to preach and pastor on June 14, 2014, and attended Rhode Island Baptist Seminary. He received his Bachelor's degree in Scripture Ministries and was ordained June 14, 2016. Michael, his wife Elesha, and their family currently serve at Historic Baptist Church; assisting the Pastors and working with the youth and young adults.
                </p>
            </div>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="px-4">
          <div class="row align-items-start"> 
              <div class="col">
                <p>
                    Our church is blessed with people of various personalities, styles, and backgrounds. We have servants for your sakes, who preach not themselves, but Jesus Christ the Lord. We also have a Seminary featuring the Baptist International School of the Scriptures curricula. Our school offers Associate through Ph.D. degrees in this curricula known as School of the Scriptures. This curricula has been developed and proved for nearly 50 years. It is a biblically- based and -operated teaching system. It not only teaches the Bible, but does the teaching in a biblical order, using biblical precepts, and using only the Bible. We have had a number of faithful and proven men who are part of this school, who have graduated into eternity. We still have faithful men carrying on the work.

                    <br><br>We have Dr. Francisco Guerrero, serving as Vice President of the school and he is our Missionary to the Spanish Scriptures. Through Dr. Guerrero's effort of thirty-plus years of labor, the New Testament has been translated into Spanish based on the Textus Receptus. He oversees the international B.I. work.
                    
                    <br><br>All our ministers and staff operate under the biblical precept that we must Do BEFORE we Teach. Our Saviour taught us that if we were to say one thing and do another, that this is hypocrisy. Using the words of Jesus, woe to the snakes and vipers that would set themselves up as teachers, but they themselves offer no light. Blind leaders of the blind, is what Jesus called them. Our work has no place for hypocrites. A man must Do and Teach!
                </p>
              </div>
          </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
