<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px; text-align: center;">
      <div class="row">
        <hr class="hidden-xs hidden-sm">
        <h1 class="subpage-header">WEDDINGS</h1>
        <div class="col-md-12 wedding-gallery">
            <div class="col-md-3">
                <img src="/images/Oba_Kelly-2-min.jpg" width="100%" alt="artform hair salon salons weddings">
            </div>
            <div class="col-md-3">
                <img src="/images/Oba_Kelly-5-min.jpg" width="100%" alt="wartform hair salon salons weddings">
            </div>
            <div class="col-md-3">
                <img src="/images/Oba_Kelly-14-min.jpg" width="100%" alt="artform hair salon salons weddings">
            </div>
            <div class="col-md-3">
                <img src="/images/Oba_Kelly-36-min.jpg" width="100%" alt="artform hair salon salons weddings">
            </div>
          </div>
          <div class="col-md-12 wedding-gallery">
              <div class="col-md-3">
                  <img src="/images/IMG_4068.jpg" width="100%" alt="artform hair salon salons weddings">
              </div>
              <div class="col-md-3">
                  <img src="/images/IMG_4069.jpg" width="100%" alt="artform hair salon salons weddings">
              </div>
              <div class="col-md-3">
                  <img src="/images/IMG_4070.jpg" width="100%" alt="artform hair salon salons weddings">
              </div>
              <div class="col-md-3">
                  <img src="/images/IMG_4071.jpg" width="100%" alt="artform hair salon salons weddings">
              </div>
            </div>
            <div class="col-md-12 wedding-gallery">
                <div class="col-md-3">
                    <img src="/images/IMG_4072.jpg" width="100%" alt="artform hair salon salons weddings">
                </div>
                <div class="col-md-3">
                    <img src="/images/IMG_4073.jpg" width="100%" alt="artform hair salon salons weddings">
                </div>
                <div class="col-md-3">
                    <img src="/images/wedding-3.jpg" width="100%" alt="artform hair salon salons weddings">
                </div>
                <div class="col-md-3">
                    <img src="/images/wedding-4.jpg" width="100%" alt="artform hair salon salons weddings">
                </div>
            </div>
            <div class="col-md-12 wedding-gallery">
                <div class="col-md-3">
                    <img src="/images/IMG_5131.JPG" width="100%" alt="artform hair salon salons weddings">
                </div>
            </div>
        <div class="col-md-12" style="padding-bottom:10px; padding-top: 30px;">
          <div class="col-md-6">
            <h4>Bride Services</h4>
            Hair   $120<br>
            Make-Up   $100<br>
            Trial Hair   $70<br>
            Trial Make-Up   $65<br>
          </div>
          <div class="col-md-6">
            <h4>Bridal Party – Attendees</h4>
            Hair   $85<br>
            Make-Up   $65<br>
            Flower Girl Hair*     $30<br>
            Flower Girl Make-Up*   $20<br>
            Lashes   $15<br>
            Airbrush Make-Up $20 add on<br>
            *Flower Girl 10yrs or Younger<br>
          </div>
      </div>
       <div class="col-md-12" style="padding-bottom:30px; padding-top: 10px;">
          <div class="col-md-6">
            <h4>Ala Cart</h4>
            Lashes   $15<br>
            Airbrush Make-Up add on   $20<br>
            Coverage (tattoo, bruise, scar, etc…)   $20+<br>
            Touch Up Services   $100 per hour
          </div>
        </div>
        <br>
        <p style="padding-top:10px;">A non-refundable $150 deposit and a signed contract is required to reserve your date. The balance is due in full 2 weeks prior to the wedding date in one lump sum.  We accept cash, money orders/bank checks & credit cards (Visa, MasterCard, Discover, and American Express.)  We do not accept personal checks.  Additional mileage fee of $.65 per mile will be quoted upon request.</p>
      </div>
      <a target="_blank" href="https://www.theknot.com/marketplace/redirect-2026771?utm_source=vendor_website&utm_medium=banner&utm_term=84a0a34a-89c5-4e79-b724-7d673d915390&utm_campaign=vendor_badge_assets"><img alt="Review us on The Knot" border="0" src="https://www.xoedge.com/myaccount/2019/website-share/VendorBadge_ReviewUs.png" width="190"></a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>
